{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/booking_process.css' %}">
{% endblock %}

{% block title %}
PawSitter - Book Sitter
{% endblock %}

{% block content %}


<div class="container">
    <a href="{% url 'index_page' %}" style="text-decoration: none;">
        <div style="margin-bottom: 15px;">
            <i class="fa-solid fa-chevron-left"></i> Back
        </div>
    </a>
    <div class="card">
        <div class="profile-header">
            <div class="profile-name">{{ sitter_detail.full_name }}</div>
            <div class="profile-rating">Rating {{ sitter_detail.avg_rating }}</div>
        </div>
        <div class="profile-address">{{ sitter_detail.user.address }}</div>
        <p class="sitter-bio">
            {{ sitter_detail.bio }}
        </p>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="service">Service</label>
                {{ form.service }}
            </div>
    
            <div class="form-group">
                <div class="date-inputs">
                    <div class="form-group">
                        <label for="startDate">Start date</label>
                        {{ form.start_date }}
                    </div>
                    <div class="form-group">
                        <label for="endDate">End date</label>
                        {{ form.end_date }}
                    </div>
                </div>
            </div>
            <div class="total-price">
                <span>Total</span>
                <span>$1,489.00</span>
            </div>
    
            <button type="submit" class="booking-button">Booking</button>
        </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/booking_process.js' %}"></script>
{% endblock %}