{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/sitter_profile.css' %}">
{% endblock %}

{% block title %}
PawSitter - My Bookings
{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="tabs">
                <div class="tab-item active">All</div>
                <div class="tab-item">Pending</div>
                <div class="tab-item">Comfirm</div>
                <div class="tab-item">Completed</div>
            </div>

            <div class="bookings-header">16 bookings</div>

            <div class="table-responsive">
                <table class="bookings-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Service</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Name">mahan kong</td>
                            <td data-label="Service">Dog walker</td>
                            <td data-label="Start date">12 Dec 2025</td>
                            <td data-label="End date">17 Dec 2025</td>
                            <td data-label="Price">270 Baht</td>
                            <td data-label="Status">
                                <div class="status-dropdown status-completed">
                                    <button class="status-button">
                                        <span>Completed</span>
                                        <span class="arrow"></span>
                                    </button>
                                </div>
                            </td>
                            <td data-label="Rating">4 <span class="rating">★</span></td>
                        </tr>
                        <tr>
                            <td data-label="Name">mahan kong</td>
                            <td data-label="Service">Dog walker</td>
                            <td data-label="Start date">12 Dec 2025</td>
                            <td data-label="End date">17 Dec 2025</td>
                            <td data-label="Price">270 Baht</td>
                            <td data-label="Status">
                                <div class="status-dropdown status-pending">
                                    <button class="status-button">
                                        <span>Pending</span>
                                        <span class="arrow"></span>
                                    </button>
                                </div>
                            </td>
                            <td data-label="Rating">-</td>
                        </tr>
                        <tr>
                            <td data-label="Name">mahan kong</td>
                            <td data-label="Service">Dog walker</td>
                            <td data-label="Start date">12 Dec 2025</td>
                            <td data-label="End date">17 Dec 2025</td>
                            <td data-label="Price">270 Baht</td>
                            <td data-label="Status">
                                <div class="status-dropdown status-confirm">
                                    <button class="status-button">
                                        <span>Comfirm</span>
                                        <span class="arrow"></span>
                                    </button>
                                </div>
                            </td>
                            <td data-label="Rating">-</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
<script src="{% static 'js/sitter_profile.js' %}"></script>
{% endblock %}